    <div id="content" class="container-fluid">
        <form action="client-login.php" method="post">
            <h1>Welcome!</h1>
            <p id="login"><b>Sign in to access your account, or register for a new account if you don't have one:</b></p>
            <p>Email:
                <input type="text" name="email">
            </p>
            <p>Password:
                <input type="password" name="password">
            </p>
            <input id="sign-in" type="submit" value="Submit">
        </form>
        <br>
        <a href="../templates/forgot-password.html"><p>Forgot your password?</p></a>
    </div>
<a href="../templates/client-registration-form.html">Register</a>