    <div id="content" class="container-fluid">
        <form action="consultant-login.php" method="post">
            <h1>Welcome!</h1>
            <p id="login"><b>Sign in to access your account, or register for a new account if you don't have one:</b></p>
            <p>ID:
                <input type="text" name="id">
            </p>
            <p>Password:
                <input type="password" name="password">
            </p>
            <input id="sign-in" type="submit" value="Sign in!">
        </form>
        <br>
        <a href="../templates/forgot-password.html"><p>Forgot your password?</p></a>
    </div>
    <a href="../templates/consultant-registration-form.html">Register</a>