<html>

<head>
    <link rel="stylesheet" href="forgot-password.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <title>Forgot Password</title>
</head>

<body class=content>
    <h1>Enter your ID or email below:</h1>
    <input class="text-field" type="text">
    <button id="continue" class="continue" type="button">Continue</button>

    <script>
        document.getElementById("continue").onclick = function () {
            location.href = "pw-reset.html";
        };
    </script>
</body>

</html>