/* 
    Created on : Jan 22, 2017, 7:49:37 AM
    Author     : ASharaf
*/
#checkout{
    background-image: url("http://hifengroup.com/images/Illustration%2Bof%2Ba%2Bblank%2Bglossy%2Brectangular%2Bbutton%20(1).png");
    background-size: 250px 100px;
    background-repeat: no-repeat;
    background-position: center;
    font-size:32px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 70%;
    padding: 0.4em;
    
}

#price{
    font-size: 32px;
    padding-left: 2em;
}

.PaypalHeader{
    font-size:40px;
    text-align: center;
}

.PaypalDetails{
    border: 4;
    margin-left: 32%;
    margin-top: 5%;
    font-size: 24px;
}

.PriceDiv{
    font-size: 32px;
    position: fixed;
    margin-left: 25%;
    margin-top: -4%;
    font-weight: bold;
    
}

input{
    font-size: 20px;
}

